
  
  #header{
    position: relative;
    padding: 10px;
    height: 65px;
    z-index:1;
    .navb{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 10px 20px 0 20px;    
    }
    li, ul{
      list-style-type: none;
    }
    .dropdown-user{
      margin-top: -35px;
      .dropdown-item{ 
          span{
            color: black !important;
          }
          &:hover{           
              background-color: var(--color-hover) !important;            
          }
      }
      .user-name{
        margin-left: 10px;
        font-size: 16px;
        font-weight: 500!important;
      }
    }
    .btn{   
      height: fit-content;
      width: 130px;
      background-color: var(--textTitleColor); 
      margin-top: -45px;
      color: white;
      border-radius: 15px !important;
      font-weight: 600 !important;
     
    }
    .navbar-title{
      font-size: 30px;
      position: relative;
      margin-left: 10%;
      max-width: 780px; 
      font-weight: 900;
      margin-top: -40px;
      cursor: pointer;
    }
    &.active{          
        top:0;
        width: 100%;
        .navbar-title{
          color: black;
        }
      }
    &.sticky {      
      z-index: 99;
      position: sticky;
      top:0;
      width: 100%;
      background: var(--secondary-color);
      .navbar-title{
        color: white;
      }
      span{
        color:white;
      }
      .navb-link:hover{
        span{
          color: var(--color-hover);
        }
      }
    }   
  }


  
  