.react-dataTable {
  border-radius: 10px;
  border: 1px solid #ededed;
  overflow-y: hidden;

  input[type*="checkbox"] {
    width: 18px;
    height: 18px;
  }

  --track-color: #e2eeff;
  --thumb-color: #166699;
  --thumb-hover-color: #2f578cc5;
  &::-webkit-scrollbar {
    width: 0.4vw;
    height: 0.4rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--track-color);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--thumb-color);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--thumb-hover-color);
  }
  .rdt_TableHead {
    .rdt_TableHeadRow {
      background-color: white;
      border-top: 1px solid;
      border-color: black;
      height: 50px;

      .rdt_TableCol {
        padding: 0.72rem 1.5rem;
        .rdt_TableCol_Sortable {
          color: black;
          font-weight: bold;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          .div {
            font-size: 20px;
          }
          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .rdt_TableBody {
    height: auto;
  }

  .react-paginate {
    gap: 5px;
    &.separated-pagination {
      .page-item:first-child .page-link,
      .page-item:last-child .page-link {
        border-radius: 50%;
      }
    }
  }
}